@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Address: Travessa da Cruz, 178 Venda da Cruz - São Gonçalo RJ<br />
    <abbr title="Phone">Phone:</abbr>
    (21) 9 8869-7719
</address>

<address>
    <strong>Support:</strong> <a href="mailto:marcellinho.domingues@live.com">marcellinho.domingues@live.com</a><br />
</address>
