@model SalesWebMvc.Models.Departamento

@{
    ViewData["Title"] = "Excluir";
}

<h2>Delete - @Html.DisplayFor(model => model.Nome)</h2>

<h3>Você tem certeza que quer excluir?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>
